  <div class = "container">
    <div class = "form-body p-4">
      <% if @model == 'user' %>
      	<h3>ユーザー "<%= @content %>"</h3>
        <%= render 'users/index', users: @records %>
      <% elsif @model == 'post' %>
      	<h3>料理名"<%= @content %>"</h3>
        <%= render 'posts/list', posts: @records %>
      <% end %>
 　　</div>
  </div>
