<div class = "container">
  <div class = "row no-gutters">
   <div class = "col-md-5 col-sm-10 mx-2 mx-sm-auto rounded px-0 my-5">
    <h2 class = text-dark bg-light p-4 mb-0>フォロー</h2>
     <div class = "form-body p-4">
      <% if @users.exists? %>
        <%= render "/users/index", users: @users %>
      <% else %>
        <p>ユーザーがいません</p>
      <% end %>
     </div>
    </div>
  </div>
</div>