  <div class = "container">
    <div class = "form-body p-4">
      <h3 class = "far fa-user-circle">フォロー</h3>
        <% if @users.exists? %>
          <%= render "/users/index", users: @users %>
        <% else %>
          <p>ユーザーがいません</p>
        <% end %>
    </div>
  </div>
 